h1 {
          text-align: center;
          color:navy;
          font-family:"Garamond";
          }

h3 {
          text-align: center;
}

body{
    background: linear-gradient(to bottom, #33ccff 0%, #000066 100%);
}     
      
